* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* ---------------- NAVBAR ---------------- */

.navbar {
  background-color: #004032;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  color: white;
  padding: 0 10px;
}

body {
  padding-top: 60px; /* pushes whole page below navbar */
  background-color: #fff;
}

.logo-bar {
  height: 40px;
  width: 120px;
}
.logo {
  background-image: url("image copy 15.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 100px;
  padding: 2px;
}

.logo:hover {
  outline: 2px solid white;
}

.border {
  border: 1px solid transparent;
}
.border:hover {
  border: 2px solid white;
}

/*Box-2*/
.Nav-address {
  height: 50px;
}
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 23px;
}
.add-sec {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 3px;
  align-items: center;
}
.add-icon {
  display: flex;
  align-items: center;
}

/*box 3*/
.nav-search {
  width: 850px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  overflow: hidden; /* fixes rounded edges */
}

.nav-search:hover {
  outline: 3px solid orange; /* FIXED */
}

.Choose {
  background-color: #f3f3f3;
  width: 50px;
  height: 40px;
  text-align: center;
  border: none; /* remove white border */
  outline: none; /* remove focus outline */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
}

.Searchbar {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.search-icon {
  width: 45px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 22px;
  color: #0f1111;
  background-color: rgb(255, 208, 68);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  cursor: pointer;
}
.search-icon:hover {
  background-color: rgb(240, 190, 50);
}

/**box4**/
.lang-select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 60px;
  height: 40px;
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}
.flag-icon {
  width: 20px;
}
.lang-text {
  font-weight: 700;
}
.toggle-arrow {
  font-size: 10px;
  color: #cccccc;
}
.lang-select-btn:hover {
  border: 1px solid #ffffff;
}

/**box5**/
.nav-signin {
  height: 40px;
}
span {
  font-size: 0.85rem;
}
.nav-sec {
  font-size: 1rem;
  font-weight: 700;
}

.nav-return {
  height: 40px;
}

/*box6*/
.nav-cart {
  height: 40px;
  width: 70px;
  font-size: 32px;
}
.Cart-text {
  text-align: end;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  bottom: 18px;
}

/* ---------------- PANEL ---------------- */
.panel {
  display: flex;
  height: 39px;
  background-color: #085749;
  color: white;
  align-items: center;
  padding: 0 10px;
}

.panel-All {
  font-size: 15px;
  margin-right: 2px;
  cursor: pointer;
}
.panel-ops p {
  display: inline;
  height: 40px;
  border: none;
  font-size: 14px;
  padding: 0 6px;
  cursor: pointer;
}
.panel-ops p:hover {
  border: 2px solid #ffffff;
  height: 40px;
}

/* ---------------- HERO SECTION ---------------- */
.hero-section {
  background-image: url("image copy 24.png");
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-mssg {
  background-color: white;
  color: black;
  height: 40px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.hero-mssg a {
  text-decoration: none;
  color: #007185;
}
.hero-mssg a:hover {
  color: #0f1111;
  text-decoration: underline;
}

/* ---------------- ITEMS ---------------- */
.items {
  display: flex;
  flex-wrap: wrap;
  background-color: #0b121c;
  gap: 18px;
  justify-content: space-evenly;
  margin-bottom: 1px;
}

.box {
  height: 390px;
  border: 1px solid #e3e6e6;
  width: 22.5%;
  background-color: white;
  padding: 0 5px;
  margin-bottom: 20px;
}

.box3 h2 {
  font-size: 21px;
  position: relative;
  top: 13px;
  left: 5px;
  padding: 0px 5px;
}
.box3img {
  background-image: url("image\ copy\ 2.png");
  position: relative;
  background-image: contain;
  top: 20px;
  right: 10px;
  left: 10px;
  height: 308px;
  width: 310px;
}
.box3 a {
  font-size: 13px;
  color: #2162a1;
  position: relative;
  display: flex;
  align-items: flex-end;
  top: 30px;
  left: 5px;
  text-decoration: none;
}

.fashion-box h2 {
  font-family: Arial;
  font-size: 21px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.item img {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  object-fit: cover;
  background: #eee;
}

.item p {
  font-size: 12px;
  margin: 2px 0 0;
}

.see-all {
  display: inline-block;
  margin-top: 15px;
  position: relative;
  top: 20px;
  bottom: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #0066c0;
}

.gifts h2 {
  font-family: Arial;
  font-size: 21px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.Daily h2 {
  font-family: Arial;
  font-size: 21px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.box2 {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  gap: 20px; /* spacing between boxes */
  justify-content: space-between; /* optional */
}
.box2 h2 {
  font-family: Arial;
  font-size: 21px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.Goods {
  gap: 20px;
  display: flex;
  background-color: #0b121c;
  background-color: 100px;
  justify-content: space-evenly;
  border: none;
  margin: none;
}

.watches h2 {
  color: #0f1111;
  font-family: Arial;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.Daily h2 {
  color: #0f1111;
  font-family: Arial;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}
/*----------------------FOOTER-----------------------*/
footer {
  margin-top: 2px;
}
.footer-panel1 {
  background-color: #37475a;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  height: 49px;
  padding: 15px 0px;
  font-size: 13px;
}
.footer-panel2 {
  background-color: #232f3e;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
ul {
  margin: 20px;
  gap: 30px;
}
ul p {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
ul a {
  display: block;
  font-size: 13px;
  color: #dddddd;
  text-decoration: none;
  margin-top: 10px;
}
.footer-panel3 {
  background-color: #232f3e;
  border-top: 0.2px solid #424e5c;
  height: 70px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo-2 {
  background-image: url("image\ copy\ 34.png");
  height: 30px;
  width: 80px;
  background-size: cover;
  position: relative;
  right: 100px;
}
.lang {
  color: #dddddd;
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: center;
  width: 132px;
  border: 0.5px solid #cccccc;
}
.lang-logo {
  font-size: 0.85rem;
  position: relative;
  right: 8px;
}
.lang p {
  font-size: 13px;
}
.sort-up {
  font-size: 0.85rem;
  position: relative;
  left: 8px;
}
.rupee {
  color: #dddddd;
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: 0.5px solid #cccccc;
}
.rupee p {
  font-size: 13px;
}
.country {
  color: #dddddd;
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: 0.5px solid #cccccc;
}
.country p {
  font-size: 13px;
}
.logo-USA {
  font-size: 12px;
  position: relative;
  right: 10px;
}
.footer-panel4 {
  background-color: #131a22;
  color: #dddddd;
  height: 78px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px 30px;
}
.firstline a {
  display: inline;
  gap: 20px;
  text-decoration: none;
  color: #f3f3f3;
  font-size: 0.7rem;
  padding: 0px 8px;
}
.firstline p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color: #f3f3f3;
}
